/* prevent problems with different browsers*/
* {box-sizing: border-box;}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* Header Stuff Here */
header {
    background-color: #ffd6d6;
    padding: 1rem 2vw;
    display: flex;
    align-items: flex-end;
}

header div {
    padding-left: 1vw;
}

header h1 {
    margin: 0;
    color: #013e7a;
}
header p {
    margin: 0;
    color: #013e7a;
    letter-spacing: .5px;
}

/* SMALL screens */
    @media only screen and (max-width: 600px) {
        nav ul {
            margin: 0;
            padding: 0 2vw;
            list-style-type: none;
        }
        nav a {
            display: block;
            padding: .8rem;
            text-decoration: none;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            border-bottom: solid 1px #aaa;
            color: #013e7a;
        }
        nav .active a{
            background-color: #013e7a;
            background-image: linear-gradient(to bottom, #013e7a, #01264b);
            color: white;
        }

} /*end of the media query*/



/*BIG screens*/
    @media only screen and (min-width: 601px) {
        nav {
        background-color: #ebeaea;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #013e7a;
        font-weight: 500;
        display: block;
        padding: .83rem 2rem;
    }
    nav li.active a {
        background-color: #013e7a;
            color: #ebeaea;
    }
    nav a:hover {
        color: #a52069;
    }

} /*end of the media query*/




/* Stuff for the Main */
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #a52069;
}

main h2 {
    color: #013e7a;
    margin-bottom: .2rem;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #EFEFEF;
}

main dl dt {
    color: #a52069;
    font-weight: 500;
}

main dl dd {
    color: #013e7a;
    font-size: .9rem;
}

main ul {
    list-style-type: circle;
    background-color: #ebeaea;
    width: 12.5rem;
    padding: .5rem 3rem .5rem 3rem;
    border: 1px solid #013e7a;
    border-radius: .5rem;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main address {
    font-style: normal;
}

main a {
    color: #a52069;
}

main a:hover {
    color: #013e7a;
}

figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
}

.bannerhero {
    width: 100%;
    margin: 0;
}
.bannerhero img {
    width: 100%;
    height: auto;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    
}

div.gallery figure {
    margin: .5rem 2% 0 0;

}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #013e7a;
}

div.gallery img {
    width: 98%;
    height: auto;
}

div.gallery img:hover {
   box-shadow: 0px 0px 10px rgb(0,0,0,0.5); 
}

.myForm fieldset {
    border: 1px solid #013e7a;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #013e7a;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
    display: block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, .myForm [type=email], .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem; 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.myForm textarea {
    height: 6rem;
}

.myForm :required {
    background-color: rgba(165,32,105,0.1);
}

.myForm [type=submit] {
    background-color: #013e7a;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}


/* Footer Stuff Here */
footer {
    background-color: #ffd6d6;
    text-align: center;
    color: #013e7a;
    padding: 1rem 0;
    font-size: .8rem;
}
footer a {
    color: #a52069;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}